# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
ENV/
env/

# Environment variables
.env
.env.*

# Build / distribution
build/
dist/
*.egg-info/

# Testing
.pytest_cache/

# IDEs and editors
.vscode/
.idea/
*.swp
.DS_Store

# Logs
*.log

# Bytecode
pip-wheel-metadata/

# Others
.coverage
coverage.xml
